<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>KrushiKart</title>

    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>



    <!-- Header -->

    <header>

        <div class="logo">KrushiKart</div>



        <div class="search-container">

            <form action="/search" method="GET">
          
              <input type="text" placeholder="Search for plants, seeds, trees..." name="query" required>
          
              <button type="submit">Search</button>
          
            </form>
          
        </div>


        

        <nav>

            <ul>

                <li><a href="login"> 👤Login </a></li>

                <li><a href="plants"> 🛒Cart </a></li>

                <li><a href="contact"> 📞Contact Us </a></li>

        

            </ul>

        </nav>

    </header>



    <!-- Hero Banner -->

    <section class="hero">

       <!-- <h1>Welcome to KrushiKart</h1>

        <p>Your one-stop shop for plants, seeds, and gardening tools</p> -->

    </section>

    <div class="shop-now-button">
        <li><a href="plants" class="shop-now-button-btn">Shop Now</a></li>
    </div>
      



    <!-- Categories -->

    <section class="categories">

        <h2>Shop by Category</h2>

        <div class="category-grid">

            <div class="category-card">🌱 Plants</div>

            <div class="category-card">🌾 Seeds</div>

            <div class="category-card">🧰 Tools</div>

        </div>

    </section>



    <!-- Featured Products -->

    <section class="featured">

        <h2>Popular Products</h2>

        <div class="product-grid">

            <div class="product-card">

                <img src="/static/Indoor-Palm.jpg" alt="Indoor Palm">

                <h3>Indoor Palm</h3>

                <p>₹1700</p>

            </div>

            <div class="product-card">

                <img src="/static/Tomato-Seeds.jpeg" alt="Tomato Seeds">

                <h3>Tomato Seeds</h3>

                <p>₹2700 KG</p>

            </div>

            <div class="product-card">

                <img src="/static/Garden Rake.png" alt="Garden Rake">

                <h3>Garden Rake</h3>

                <p>₹399</p>

            </div>

        </div>

    </section>



    <!-- Footer -->

    <footer>

        <p>&copy; 2025 By Nilesh. All rights reserved.</p>

    </footer>



</body>

</html>


